@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}